<plugin id="cordova-sqlite-demo-plugin" version="0.0.2-dev">
  <name>cordova sqlite demo plugin</name>

  <!--
    THANKS for guidance:
    * https://cordova.apache.org/docs/en/latest/guide/hybrid/plugins/index.html
    * https://cordova.apache.org/docs/en/latest/plugin_ref/spec.html
    * https://cordova.apache.org/docs/en/latest/guide/platforms/android/plugin.html
    * https://cordova.apache.org/docs/en/latest/guide/platforms/ios/plugin.html
  -->

  <js-module src="www/SQLitePlugin.js" name="SQLitePlugin">
    <!-- keep it simple: -->
    <runs />
  </js-module>

  <platform name="android">
    <config-file target="config.xml" parent="/*">
      <feature name="SQLitePlugin">
        <param name="android-package" value="io.sqlc.SQLitePlugin"/>
      </feature>
    </config-file>
    <source-file src="src/android/SQLitePlugin.java" target-dir="src/io/sqlc" />
    <source-file src="src/android/SCCoreGlue.java" target-dir="src/io/sqlc" />
    <lib-file src="dependencies/android-database-sqlcipher-connection-core-glue-ndk.jar" />
  </platform>
</plugin>
